<table class="table table-bordered table-hover">
    <tr>
      <th><%= sortable "username", t('nombre de usuario') %></th>
      <th><%= sortable "role", t('rol del usuario') %></th>
    </tr>
      <% @users.each do |u| %>
      <tr>
        <td><%= link_to u.username, edit_user_path(u.id) %></td>
        <td><%= u.role %></td>
      </tr>
      <% end %>
  </table>
  <%= will_paginate @users, renderer: BootstrapPagination::Rails, :next_label => '&raquo;', :previous_label => '&laquo;' %>