<%= form_for @user, :action => 'update' do |f| %>
  <%= devise_error_messages! %>
  
    <h2 class="page-header">Editar avatar</h2>
  
    <div class="col-sm-3 col-sm-offset-4">
        <div class="row text-center">
            <% if @user.avatar? %>
                <%= image_tag @user.avatar, :class => 'img-responsive img-circle img-thumbnail avatar' %>
            <% else %>
                <img src="/uploads/user/avatar/sinusuario.png" class="img-responsive img-circle img-thumbnail avatar" />
            <% end %>
        </div>
        <div class="row">
            <h4>Cambiar imagen</h4>
            <%= f.file_field :avatar %>
        </div>
          <div class="text-center">
            <%= f.submit 'Guardar', :class => 'btn btn-primary' %>
            <%= link_to 'Cancelar', @user, :class => 'btn btn-default' %>
          </div>
    </div>
<% end %>