<h2 class="page-header"><%= t('crear usuario') %></h2>
<%= form_for(@user) do |f| %>
	<% if @user.errors.any? %>
	  <div class="panel panel-danger">
      <div class="panel-heading">
        <h4><%= pluralize(@user.errors.count, "error") %> <%= t("impidió crear el usuario:") %></h4>
      </div>
      <div class="panel-body">
        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

<div class="col-sm-12">
    <div class="row">
      <div class="col-sm-7">
        <form>
          <!-- grupo -->
          <div class="form-group">
              <h4><%= t('nombre de usuario') %></h4>
              <%= f.text_field :username, :class => 'form-control' %>
          </div>
          <!-- grupo -->
          <div class="form-group">
              <h4><%= t('rol del usuario') %></h4>
              <%= f.select :role, User.roles.keys.to_a.map {|c| [t("user.roles.#{c}"), c]}, {}, {:class => 'form-control'} %>
          </div>
          <!-- grupo -->
          <div class="form-group">
              <h4><%= t('contraseña aleatoria') %></h4>
              <div class="input-group">
              	<%= f.text_field :password, autocomplete: "off", :class => 'form-control pass-aleatoria' %>
              	<span class="input-group-btn">
              		<button type="button" class="btn btn-default regenerar-pass"><span class="glyphicon glyphicon-refresh"></span></button>
              	</span>
              </div>
          </div>
          <div class="text-left">
            <%= f.submit t('crear usuario'), :class => 'btn btn-primary' %>
            <%= link_to t('cancelar'), @libro, :class => 'btn btn-default' %>
          </div>
        </form>
      </div>
    </div>
  </div>
<% end %>