<div class="col-sm-4 col-sm-offset-4 text-center">
    <% if @user.avatar? %>
        <%= image_tag @user.avatar, :class => 'img-responsive img-circle img-thumbnail avatar' %>
    <% else %>
        <img src="/uploads/user/avatar/sinusuario.png" class="img-responsive img-circle img-thumbnail avatar" />
    <% end %>
    <h1><%= @user.username %></h1>
    <h4 class="text-muted"><%= @user.nombre %> <%= @user.apellidos %></h4>
    <div class="row">
        <div id="info">
            <h5>Libros leídos</h5>
            <%= link_to num_libros_leidos_usuario, libros_leidos_mostrar_path, :class => 'btn btn-default', :title => 'Libros que ha leído' %>
            <h5>Libros comentados</h5>
            <%= link_to '2 Comentados', '#', :class => 'btn btn-default', :title => 'Libros que ha comentado' %>
        </div>
    </div>
    <%= link_to 'Cambiar avatar', edit_user_path(current_user), :class => 'btn btn-primary' %>
    <%= link_to 'Cambiar contraseña', edit_user_registration_path(current_user), :class => 'btn btn-danger' %>
</div>