<h1 class="page-header"><%= t('libros leidos') %></h1>
<% if num_solicitudes_hechas > 0 %>
  <table class="table table-bordered table-hover">
    <tr>
        <th>Libro</th>
        <th>Usuario</th>
        <th>Fecha solicitud</th>
        <th>Comentar</th>
    </tr>
      <% @solicitudes.where(aceptado: true, user_id: current_user.id).each do |s| %>
      <tr>
        <td><%= s.libro %></td>
        <td><%= s.username %></td>
        <td><%= I18n.l s.created_at, :format => :corta %></td>
        <td><%= link_to '', '#', :class => 'glyphicon glyphicon-pencil', :title => "Comentar #{ s.libro }" %></td>
      </tr>
      <% end %>
  </table>
  <%= will_paginate @solicitudes, renderer: BootstrapPagination::Rails, :next_label => '&raquo;', :previous_label => '&laquo;' %>
<% else %>
  <h4><%= t('Todavía no has leído ningún libro') %></h4>
<% end %>