<%= form_for(@libro) do |f| %>
  <% if @libro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@libro.errors.count, "error") %> prohibited this libro from being saved:</h2>

      <ul>
      <% @libro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-5">
        <% if @libro.portada? %>
          <%= image_tag @libro.portada, :class => 'img-responsive portada img-thumbnail' %>
          <h4>Cambiar portada</h4>
          <%= f.file_field :portada %>
        <% else %>
          <h4>Elegir portada</h4>
          <%= f.file_field :portada %>
        <% end %>
      </div>
      <div class="col-sm-7">
        <form>
          <!-- grupo -->
          <div class="form-group">
              <h4>Titulo</h4>
              <%= f.text_field :titulo, :class => 'form-control' %>
          </div>
          <!-- grupo -->
          <div class="form-group">
              <h4>Autor</h4>
              <%= f.text_field :autor, :class => 'form-control' %>
          </div>
          <!-- grupo -->
          <div class="form-group">
              <h4>Género</h4>
              <%= f.text_field :genero, :class => 'form-control' %>
          </div>
          <!-- grupo -->
          <div class="form-group">
              <h4>ISBN</h4>
              <%= f.text_field :isbn, :class => 'form-control' %>
          </div>
              <h4>Fecha de registro</h4>
              <%= f.date_select :fregistro, :class => 'form-control', order: [:day, :month, :year], use_month_numbers: true %>
          <div class="text-right">
            <%= f.submit 'Guardar', :class => 'btn btn-primary' %>
            <%= link_to 'Cancelar', @libro, :class => 'btn btn-default' %>
          </div>
        </form>
      </div>
    </div>
  </div>
<% end %>
