  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>
  
  <table class="table table-bordered table-hover">
    <tr>
      <th><%= sortable "titulo", t("titulo") %></th>
      <th><%= sortable "autor", t("autor") %></th>
      <th><%= sortable "genero", t("genero") %></th>
      <th><%= sortable "fregistro", t("fecha_reg") %></th>
      <th><%= sortable "cantidad", t("cantidad") %></th>
      <th><%= sortable "disponibles", t("disponibles") %></th>
    </tr>
      <% @libros.each do |libro| %>
      <tr>
        <td><%= link_to libro.titulo, libro %></td>
        <td><%= libro.autor %></td>
        <td><%= libro.genero %></td>
        <td class="fecha-registro"><%= libro.fregistro.to_time.strftime('%d/%m/%Y') %></td>
        <td><%= libro.cantidad %></td>
        <td><%= libro.disponibles %></td>
      </tr>
      <% end %>
  </table>
  <%= will_paginate @libros, renderer: BootstrapPagination::Rails, :next_label => '&raquo;', :previous_label => '&laquo;' %>
  
  

