<div class="col-sm-12">
    <div class="col-sm-5">
      <% if @libro.portada? %>
        <%= image_tag @libro.portada, :class => 'img-responsive portada img-thumbnail' %>
      <% else %>
        <img src="/uploads/libro/portada/sinportada.png" class="img-responsive portada img-thumbnail" />
      <% end %>
    </div>
    <div class="col-sm-7">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1><%= @libro.titulo %></h1>
        </div>
        <div class="panel-body">
          <h3><%= t('autor') %>: <small><%= @libro.autor %> <small><%= link_to t("Saber más"), "http://www.google.com/search?ie=UTF-8&q=#{@libro.autor}", :target => '_blank' %></small></small></h3>
          <h3><%= t('genero') %>: <small><%= t("libro.generos.#{@libro.genero}") %></small></h3>
          <h3><%= t('idioma') %>: <small><%= t("libro.idiomas.#{@libro.idioma}") %></small></h3>
          <h3><%= t('isbn') %>: <small><%= @libro.isbn %></small></h3>
          <h3><%= t('fecha_reg') %>: <small><%= I18n.l @libro.fregistro, :format => :corta %></small></h3>
        </div>
      </div>
      <% if current_user.role == "admin" %>
        <div class="col-sm-8 col-sm-offset-4 text-right">
          <%= link_to t('Editar'), edit_libro_path(@libro), :class => 'btn btn-primary' %>
          <%= link_to t('Atrás'), libros_path, :class => 'btn btn-default' %>
        </div>
        <% else %>
        <div class="col-sm-8 col-sm-offset-4 text-right">
          <%= link_to t('Pedir libro'), new_solicitude_path(:libro_alquiler => 
                  {
                      :libro_id => @libro.id, 
                      :libro => @libro.titulo, 
                      :user_id => current_user.id, 
                      :username => current_user.username
                    }), :class => 'btn btn-info' %>
          <%= link_to t('Atrás'), libros_path, :class => 'btn btn-default' %>
        </div>
      <% end %>
    </div>
    <div id="comentarios" class="col-sm-7">
      <% @libro.comentarios.each do |c| %>
        <h2><%= link_to c.username, mostrar_usuario_path(c.username) %> <small><%= c.created_at.strftime('%Y/%m/%d') %></small></h2>
        <p><%= c.comentario %></p>
      <% end %>
    </div>
    <% if libro_leido %>
      <div id="comentar" class="col-sm-7">
        <%= form_for([@libro, @libro.comentarios.build]) do |f| %>
          <div class="sr-only">
            <%= f.text_field :user_id, :value => current_user.id %>
            <%= f.text_field :username, :value => current_user.username %>
          </div>
          <div class="row">
            <div class="col-sm-8 col-sm-offset-10">
              <%= f.text_area :comentario, :placeholder => "Escribe tu comentario" %>
            </div>
          </div>
          <div class="col-sm-8 col-sm-offset-12">
            <%= f.submit 'Enviar comentario', :class => 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    <% end %>
</div>
