<div class="col-sm-12">
  <div class="row">
    <div class="col-sm-5">
      <% if @libro.portada? %>
        <%= image_tag @libro.portada, :class => 'img-responsive portada img-thumbnail' %>
      <% else %>
        <img src="/uploads/libro/portada/sinportada.png" class="img-responsive portada img-thumbnail" />
      <% end %>
    </div>
    <div class="col-sm-7">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1><%= @libro.titulo %></h1>
        </div>
        <div class="panel-body">
          <h3><%= t('autor') %>: <small><%= @libro.autor %> <small><%= link_to t("Saber más"), "http://www.google.com/search?ie=UTF-8&q=#{@libro.autor}", :target => '_blank', :title => "Sobre el autor" %></small></small></h3>
          <h3><%= t('genero') %>: <small><%= @libro.genero %></small></h3>
          <h3><%= t('idioma') %>: <small><%= @libro.idioma.humanize %></small></h3>
          <h3><%= t('isbn') %>: <small><%= @libro.isbn %></small></h3>
          <h3><%= t('fecha_reg') %>: <small><%= I18n.l @libro.fregistro, :format => :corta %></small></h3>
        </div>
      </div>
      <div class="col-sm-8 col-sm-offset-4 text-right">
        <%= link_to t('Prestar libro'), "#", :class => 'btn btn-info' %>
        <%= link_to t('Editar'), edit_libro_path(@libro), :class => 'btn btn-primary' %>
        <%= link_to t('Atrás'), libros_path, :class => 'btn btn-default' %>
      </div>
    </div>
  </div>
</div>
