<div class="col-sm-12">
  <div class="row">
    <div class="col-sm-5">
      <% if @libro.portada? %>
        <%= image_tag @libro.portada, :class => 'img-responsive portada img-thumbnail' %>
      <% else %>
        <img src="/uploads/libro/portada/sinportada.png" class="img-responsive portada img-thumbnail" />
      <% end %>
    </div>
    <div class="col-sm-7">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1><%= @libro.titulo %></h1>
        </div>
        <div class="panel-body">
          <h3>Autor: <small><%= @libro.autor %> <small><%= link_to "Saber más", "http://www.google.com/search?ie=UTF-8&q=#{@libro.autor}", :target => '_blank', :title => "Sobre el autor" %></small></small></h3>
          <h3>Género: <small><%= @libro.genero %></small></h3>
          <h3>Idioma: <small><%= @libro.idioma.humanize %></small></h3>
          <h3>ISBN: <small><%= @libro.isbn %></small></h3>
          <h3>Fecha de registro: <small><%= @libro.fregistro.strftime('%d/%m/%Y') %></small></h3>
        </div>
      </div>
      <div class="col-sm-6 col-sm-offset-6 text-right">
        <%= link_to 'Editar', edit_libro_path(@libro), :class => 'btn btn-primary' %>
        <%= link_to 'Atrás', libros_path, :class => 'btn btn-default' %>
      </div>
    </div>
  </div>
</div>
